@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light --cupcake;
}

/* Hide scrollbar for all elements with this class */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
